.chat__messages {
    flex-grow: 1;
}

.input {
    padding: 10px 20px;
    border-top: 1px solid #80808082;
    background: white;
}

.input > input{
    margin-right: 30px;
    padding: 5px 10px;
    border: 3px solid #c8e2f5;
    border-radius: 8px;
    outline-color: #62acdd;
    width: 80%;
}