.app__wrapper {
    max-width: 1366px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "h h"
        "n c";
    grid-template-columns: 2fr 10fr;
    grid-template-rows: max-content 1fr;
    height: 100vh;
}

.app-wrapper__content {
    grid-area: c;
    background: #c6e8ff;
}

.primary_btn{
    background: #62acdd;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s;
}

.primary_btn:hover {
    background: #76bae7;
    transform: scale(1.1);
}